*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    

}

nav{
    background-color: #1D2635;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
    width: 100%;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin:  0 8px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 13px;
    border-radius: 5px;
    transition: 0.5s;
}

nav ul li a:hover,nav ul li a.active{
    background-color: #536471;
}

nav div{
    color:white;
    font-size: 25px;
    font-weight: bold;
}

#click{
    display: none;
}
.label-btn{
    color: white;
    font-size: 22px;
    display: none;

}

/* responsive work start */
@media only screen and (max-width:920px) {



    .label-btn{
        display: block;
    }
    #click:checked ~ul{
        left: 0%;
    }

    #click:checked ~.label-btn i::before{
        content: "\f00d";
    }

    nav ul{
        position: fixed;
        background-color:#1D2635;
        top: 79px;
        left: -100%;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        transition:  all 0.5s ease;

       
        
    }
    nav ul li{
        margin: 40px 0;
    }

    nav ul li a:hover,nav ul li a.active{
        background: none;
        color:brown;
        font-size: 32px;
    }
    
}

.hero-area{
    background-image: url("images/banner.jpg");
    background-repeat: no-repeat;
    height: 86vh;
    background-size: cover;
    background-position: center;
   
}